header{
    .topnav{
        display: flex;
        justify-content: space-between;
       a{
        padding: 35px;
        font-size: 20px;
        text-decoration: none;
        color: black;
       }
       .logo{
        font-size: 25px;
        font-family: "Great Vibes";
    }
    } 
}

.navbar{
    border-top: solid rgb(191, 191, 191);
    border-bottom: solid rgb(191, 191, 191) ;
    margin-left:0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    a{
        padding: 20px;
        text-decoration: none;
        color: black;
    }
}

.navbarlow{
    display: flex;
    justify-content: space-between;
    margin-top: 35%;
    background-color: black;

    a{
        padding: 18px;
       color: white;
       text-decoration: none;
    }
    
}
    
   
   
