body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  background-color: blue;
  
  a{
    color: white;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 35px;
    transition: 1s font-size;

    &:hover {
       font-size: 55px;
    }
  }
}

main{
    
    padding: 30px;
    h1{
        text-align: center;
    }
    .maintext{
        font-size: 20px;
        text-align: center;
    }
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
   

    h4{
        display: flex;
       justify-content: center;
       margin-top: 10px;
       margin-bottom: 30px;
       color: white;
    }
}
