body{
    margin:0;
}

.navbar1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  background-color: blue;
  
  a{
    color: white;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 35px;
    transition: 1s font-size;

    &:hover {
       font-size: 55px;
    }
  }
}
